<h2>Lista de postagens: </h2>
<hr>

<a href="/admin/postagens/add">
    <button type="button" class="btn btn-success">adicionar postagens</button>
</a>

{{#each postagens}}

    <div class="card mt-4">
        <div class="card-body">
            <h4> 
                {{titulo}} 
            </h4>

            <p>
                descricao: {{descricao}}
            </p>

            <small>
                Data: {{#formatDate}} {{data}} {{/formatDate}}
            </small>

            <small>
                Categoria:  {{categoria}}
            </small>

            <a href="/admin/postagens/edit/{{_id}}">
                <button class="btn btn-success">
                    editar postagem
                </button>
            </a>
        </div>
    </div> 

{{else}}

    <h4 class="mt-4">Nenhuma postagem cadastrada</h4>

{{/each}}