<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao blog do node</h1>
  <p class="lead">Este é um Blog desenvolvido com Node.JS + express.js + mongoDB.</p>
  <hr class="my-4">
  <p>Aqui você vai poder ler sobre todas as novidades no mundo da computação.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">crie uma conta</a>
  </p>
</div>

<h2>Postagens recentes</h2>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>Titulo: {{titulo}}</h4>
            <p>Descrição: {{descricao}}</p>

            <a href="/postagens/{{slug}}">
                <button class="btn btn-success">
                    Leia mais
                </button>
            </a>

            <hr>

            <small>Categoria: {{categoria}}</small> <br>
            <small>Data de publicação: {{#formatDate}} {{data}} {{/formatDate}}</small>
        </div>
    </div>
{{else}}
    <h3>Nenhuma postagem cadastrada</h3>
{{/each}}
